<div class="login-container">
  <div class="login-card card">
    <div class="text-center mb-4">
      <h1 class="brand-title">SupplyChain<span class="highlight">X</span></h1>
      <p class="text-muted">Connectez-vous à votre espace</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input 
          type="email" 
          id="email" 
          class="form-control" 
          formControlName="email"
          placeholder="nom@exemple.com"
          [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
        >
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
          Email valide requis.
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Mot de passe</label>
        <input 
          type="password" 
          id="password" 
          class="form-control" 
          formControlName="password"
          placeholder="••••••••"
             [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
        >
         <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          Mot de passe requis (min 6 char).
        </div>
      </div>

      <div *ngIf="errorMessage" class="alert-error mb-4">
        {{ errorMessage }}
      </div>

      <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="isLoading">Chargement...</span>
        <span *ngIf="!isLoading">Se connecter</span>
      </button>

      <div class="mt-4 text-center">
        <a href="#" class="text-muted text-sm">Mot de passe oublié ?</a>
      </div>
    </form>
  </div>
</div>
